streamlit
gtts
sounddevice
soundfile
deep_translator
cryptography
groq
audio_recorder_streamlit
python-dotenv
cryptography
requests
pydub
pipwin
pyaudio
streamlit
groq
gtts
audio-recorder-streamlit
sounddevice
soundfile
deep-translator
python-dotenv
cryptography
numpy
pandas
matplotlib
requests
pillow
scipy
librosa
pyaudio
pydub
